body {
  margin: 0;
  padding: 0;
  font-weight: 50;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.table thead th {
  border-top-color: transparent;
  color: gray;
  font-weight: 400;
}

.changedSchedule {
  color: red
}

.verticalAlignCenter {
  line-height: 2.5;
}

.cancelledTrain {
  color: darkgray;
}

.delayedTime {
  font-size: 13px;
}

.nonActiveTab {
  color: #58a618;
  font-weight: 500;
  margin-left: 15px;
  margin-right: 15px;
}

.activeTab {
  margin-left: 15px;
  margin-right: 15px;
}

.navBar {
    -webkit-box-shadow: 0 8px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.2);
    box-shadow: 0 8px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.2);
}

.nav-tabs {
  height: 37px;
}

.nav-link {
  height: 37px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #495057;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
  height: 37px;
}

